/*Font
font-family: basic-sans, sans-serif;
font-weight: 400; // 300 // 600 //700
font-style: normal;

font-family: calluna, serif;
font-weight: 600; //400 //300
font-style: normal;
*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background-color: #f7f3f0;
  color: #1f1f1f;
  margin: 0 auto;
  font-family: basic-sans, sans-serif;
  min-height: 100vh;
  overflow-x: hidden; }

@keyframes showText {
  from {
    transform: translateX(20px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes fadeIn {
  from {
    transform: translate3d(0, 20px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes fadeIn {
  from {
    transform: translate3d(0, 20px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes slideIn {
  from {
    left: -100px;
    opacity: 0; }
  to {
    left: 100px;
    opacity: 1; } }

@keyframes slideOut {
  from {
    left: 100px;
    opacity: 1; }
  to {
    left: -100px;
    opacity: 0; } }

.margin-medium {
  margin-bottom: 5rem !important;
  margin-top: 5rem !important; }
  @media only screen and (max-width: 56.25em) {
    .margin-medium {
      margin-bottom: 3rem !important;
      margin-top: 3rem !important; } }

.about {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
  height: 100%; }
  @media only screen and (max-width: 56.25em) {
    .about {
      display: block; } }
  .about__portrait {
    flex-basis: 50%;
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .about__portrait {
        text-align: left; } }
  .about__image {
    width: 100%;
    min-width: 200px;
    max-width: 500px;
    height: auto;
    border-radius: 64% 36% 78% 22% / 22% 81% 19% 78%; }
    @media only screen and (max-width: 56.25em) {
      .about__image {
        width: 80%;
        filter: opacity(0.7); } }
  .about__content {
    text-align: right;
    flex-basis: 50%;
    padding: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .about__content {
        position: absolute;
        width: 40vw;
        right: 0;
        top: 10%; } }
  .about__content > p {
    font-size: 1.7rem;
    line-height: 1.7; }
    @media only screen and (max-width: 75em) {
      .about__content > p {
        font-size: 1.5rem;
        line-height: 1.5; } }

.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .btn-prev, .btn-next {
    border: none;
    font-size: 3rem;
    background-color: #f7f3f0;
    cursor: pointer; }

.control {
  text-align: center;
  margin-top: 20px; }

.contact {
  background-image: linear-gradient(105deg, rgba(247, 243, 240, 0.9) 0%, rgba(247, 243, 240, 0.9) 50%, transparent 50%), url(./../img/contact.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(31, 31, 31, 0.2);
  min-width: 65vw;
  height: auto; }
  @media only screen and (max-width: 56.25em) {
    .contact {
      background-image: linear-gradient(rgba(247, 243, 240, 0.4) 0%, rgba(247, 243, 240, 0.9) 100%, transparent 50%), url(./../img/contact.jpg); } }
  .contact__content {
    font-size: 1.5rem;
    line-height: 1.7;
    padding-bottom: 2rem; }
  .contact__form {
    width: 50%;
    margin: 3rem 0; }
    @media only screen and (max-width: 56.25em) {
      .contact__form {
        width: 100%; } }
    .contact__form-fieldset {
      border: none;
      padding: 3rem; }
    .contact__form-group:not(:last-child) {
      margin-bottom: 2rem; }
    .contact__form-label {
      font-size: 1.2rem;
      font-weight: 700;
      display: block;
      transition: all 0.3s; }
    .contact__form-input {
      font-size: 1.5rem;
      font-family: inherit;
      color: inherit;
      padding: 1.5rem 2rem;
      border-radius: 5px;
      background-color: rgba(247, 243, 240, 0.7);
      border: none;
      border-bottom: 3px solid transparent;
      width: 90%;
      display: block; }
      @media only screen and (max-width: 56.25em) {
        .contact__form-input {
          margin: 0 auto; } }

input[type='submit'] {
  cursor: pointer; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  min-width: 100rem;
  max-width: 150rem;
  background-color: #f3f3f3;
  padding: 3rem 4rem 0 4rem;
  border-radius: 5px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.4s; }
  @media only screen and (max-width: 75em) {
    .modal {
      min-width: 80rem; } }
  @media only screen and (max-width: 56.25em) {
    .modal {
      min-width: 50rem; } }
  .modal__top {
    position: relative;
    width: 800px;
    height: 450px;
    margin: 0 auto;
    overflow: hidden; }
    @media only screen and (max-width: 56.25em) {
      .modal__top {
        width: 400px; } }
  .modal__btm {
    font-weight: 400; }
    .modal__btm-h5 {
      font-size: 2.5rem; }
    .modal__btm-para {
      padding-top: 1rem;
      font-size: 1.5rem;
      line-height: 1.7; }
  .modal__container {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-flow: row wrap; }
    @media only screen and (max-width: 56.25em) {
      .modal__container {
        display: inline-block; } }
  .modal__list {
    padding: 3px;
    flex-basis: 50%;
    list-style: none; }
  .modal__img {
    width: 100%;
    height: auto; }

.modal__top .animated {
  transition: 0.5s ease-out; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s; }

.btn--close-modal,
.btn--close-popup {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none; }

.hidden {
  visibility: hidden;
  opacity: 0; }

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-color: #f3f3f3;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.4s;
  width: 30vw;
  height: 200px; }
  .popup > p {
    font-size: 1.5rem;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); }

.top {
  background-color: #f7f3f0;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s; }

.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1; }

.header {
  height: 100vh;
  margin: 0 auto; }
  .header__nav {
    width: 100%; }
  .header__title {
    margin: 0 auto;
    position: relative;
    top: 10%;
    max-width: 65vw;
    font-family: calluna, serif;
    font-weight: 300;
    font-size: 3.3rem; }
    @media only screen and (max-width: 75em) {
      .header__title {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .header__title {
        font-size: 2rem; } }
  .header__left {
    text-align: right;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(100%); }
    @media only screen and (max-width: 750px) {
      .header__left {
        text-align: left;
        transform: translateY(0); } }
  .header__image {
    border-radius: 73% 27% 77% 23% / 44% 55% 45% 56%;
    width: 55%;
    height: auto;
    min-width: 350px;
    max-width: 600px;
    position: absolute;
    z-index: -1; }
    @media only screen and (max-width: 37.5em) {
      .header__image {
        right: 0; } }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0.5rem 10rem;
  z-index: 1; }
  @media only screen and (max-width: 56.25em) {
    .nav {
      padding: 0 4rem; } }
  .nav__logo {
    width: auto;
    height: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .nav__logo {
        height: 2.5rem; } }
  .nav__links {
    display: flex;
    align-items: center;
    list-style: none; }
  .nav__item {
    margin-left: 4rem; }
  .nav__link {
    text-decoration: none;
    color: #1f1f1f;
    display: block;
    transition: all 0.3s;
    position: relative;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.05em; }
    @media only screen and (max-width: 56.25em) {
      .nav__link {
        font-size: 1.5rem; } }
    .nav__link::before, .nav__link::after {
      content: '';
      position: absolute;
      height: 3px;
      width: 0%;
      background-color: rgba(31, 31, 31, 0.7);
      transition: all 0.7s; }
    .nav__link::after {
      left: 0;
      bottom: -5px; }
    .nav__link::before {
      right: 0;
      top: -5px; }
    .nav__link:hover {
      transform: translateY(2px); }
      .nav__link:hover::after, .nav__link:hover::before {
        width: 100%; }
  .nav__active::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: rgba(31, 31, 31, 0.7);
    transition: all 0.7s; }

.nav.sticky {
  position: fixed;
  background-color: #ebe2d5; }

.stagger__wrapper {
  opacity: 0; }
  @media only screen and (max-width: 37.5em) {
    .stagger__wrapper {
      transform: translate(-50px, 0); } }

.stagger__item {
  color: #1f1f1f;
  padding-bottom: 1rem;
  letter-spacing: 0.03em;
  opacity: 0.8; }

.projects {
  margin: 0 auto;
  display: grid;
  grid-gap: 5px;
  grid-template: auto 1fr/repeat(3, 1fr);
  grid-auto-flow: dense;
  max-width: 1100px;
  min-width: 600px; }
  @media only screen and (max-width: 56.25em) {
    .projects {
      display: block;
      text-align: center;
      min-width: 400px; } }
  .projects__item {
    position: relative;
    overflow: hidden;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    max-height: 40vh; }
    .projects__item--hover {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      opacity: 0; }
    .projects__item:hover .projects__image {
      transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      filter: blur(5px) grayscale(10%);
      -o-filter: blur(5px) grayscale(10%);
      -ms-filter: blur(5px) grayscale(10%);
      -moz-filter: blur(5px) grayscale(10%);
      -webkit-filter: blur(5px) grayscale(10%);
      transform: scale(1); }
    .projects__item:hover .projects__item--hover {
      opacity: 1; }
  .projects__header {
    color: #f7f3f0;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 2.5rem;
    font-weight: 600;
    border-bottom: 3px solid #f7f3f0; }
    @media only screen and (max-width: 75em) {
      .projects__header {
        font-size: 2rem; } }
    .projects__header-blk {
      color: #1f1f1f;
      border-bottom: 3px solid #1f1f1f; }
  .projects__image {
    object-fit: cover;
    min-height: 100%;
    height: auto;
    width: 100%;
    border-radius: 3px; }
    @media only screen and (max-width: 56.25em) {
      .projects__image {
        width: 80%; } }
  .projects__item-1 {
    grid-column: 1/3;
    animation: fadeIn 2s ease-out; }
  .projects__item-2 {
    grid-column: 3/4; }
  .projects__item-3 {
    grid-column: 1/2;
    grid-row: 2/3; }
  .projects__item-4 {
    grid-column: 2 /4;
    grid-row: 2/3; }

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; }

.loading__text {
  font-family: calluna, serif;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: #f7f3f0;
  overflow: hidden; }
  .loading__text--wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background: #1f1f1f; }

.loading__reveal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #ebe2d5; }

.loading__pre {
  position: absolute;
  top: 0;
  left: 0;
  background: #f7f3f0; }

.loading__page {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(10deg, rgba(31, 31, 31, 0.7) 0%, rgba(31, 31, 31, 0.7) 100%); }
  .loading__page--wrapper {
    position: relative;
    width: 10px;
    height: 140px;
    background: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
    transform: rotate(90deg); }

main {
  margin: 0 auto;
  width: 65vw;
  font-weight: 400;
  height: 100%; }

.section {
  display: inline-block;
  min-height: 100vh;
  width: 100%;
  padding-top: 6rem; }
  @media only screen and (min-width: 112.5em) {
    .section {
      padding-top: 10rem; } }
  .section:not(:last-child) {
    min-height: 100vh; }
  .section:last-child {
    min-height: 80vh; }
  .section__title {
    text-align: right;
    font-size: 1.5rem; }
  .section__header {
    font-size: 2rem; }

.footer {
  max-width: 80vw;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between; }
  .footer__copyright {
    font-size: 1.5rem; }
  .footer__buttons {
    font-size: 2rem; }
    .footer__buttons > a {
      padding-left: 1.3rem;
      cursor: pointer; }
      .footer__buttons > a > i {
        color: #1f1f1f; }
        .footer__buttons > a > i:hover {
          transform: scale3d(1.1, 1.1, 1.1); }
