.header {
  height: 100vh;
  // width: 65vw;
  margin: 0 auto;

  &__nav {
    width: 100%;
  }
  &__title {
    margin: 0 auto;
    position: relative;
    top: 10%;
    max-width: 60vw;
  }
  &__left {
    text-align: right;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(100%);
  }

  // &__right {
  //   position: relative;
  //   display: flex;
  //   justify-self: center;
  //   align-items: flex-start;
  // }
  &__image {
    border-radius: 73% 27% 77% 23% / 44% 55% 45% 56%;
    width: 60%;
    height: auto;
    max-width: 600px;
    position: absolute;
    // top: 10vh;
    z-index: -1;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0.5rem 10rem;
  z-index: 1;

  &__logo {
    width: auto;
    height: 3rem;
    // transition: all 0.3s;
  }

  &__links {
    display: flex;
    align-items: center;
    list-style: none;
  }
  &__item {
    margin-left: 4rem;
  }
  &__link {
    font-size: 1.9rem;
    font-weight: 400;
    text-decoration: none;
    color: $color-primary;
    letter-spacing: 0.05em;
    display: block;
    transition: all 0.3s;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 3px;
      width: 0%;
      background-color: blueviolet;
      transition: all 0.5s;
    }

    &::after {
      left: 0;
      bottom: -10px;
    }
    &::before {
      right: 0;
      top: -10px;
    }
    &:hover {
      color: red;

      &::after,
      &::before {
        width: 100%;
      }
    }

    &:active,
    &:focus {
      &::after,
      &::before {
        width: 100%;
      }
    }
  }

  &__active {
    background-color: yellowgreen;
  }
}
.nav.sticky {
  position: fixed;
  background-color: $color-bg-secondary;
}

// .rotate {
//   position: absolute;
//   display: flex;
//   padding-left: 3rem;
//   height: 70px;
//   justify-content: center;
//   transform: translate(10px, 65px);

//   &__p {
//     margin-top: 0;
//     font-size: 5rem;
//   }
//   &__words {
//     overflow: hidden;
//   }

//   &__word {
//     display: block;
//     height: 100%;
//     padding-left: 1rem;
//     font-size: 5rem;
//     animation: rotateWords 8s infinite;
//   }
// }

.stagger {
  &__wrapper {
    opacity: 0;
  }
  &__item {
    color: $color-primary;
    padding-bottom: 1rem;
    letter-spacing: 0.03em;
    opacity: 0.8;
  }
  // &__item {
  //   animation: showText 2s;
  //   animation-fill-mode: both;

  //   &:nth-child(1) {
  //     animation-delay: 0.2s;
  //   }
  //   &:nth-child(2) {
  //     animation-delay: 0.4s;
  //   }
  //   &:nth-child(3) {
  //     animation-delay: 0.6s;
  //   }
  //   &:nth-child(4) {
  //     animation-delay: 0.8s;
  //     animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  //   }
  // }
}
