.header {
  height: 100vh;
  margin: 0 auto;

  &__nav {
    width: 100%;
  }
  &__title {
    margin: 0 auto;
    position: relative;
    top: 10%;
    max-width: 65vw;
    font-family: calluna, serif;
    font-weight: 300;
    font-size: 3.3rem;

    @include respond(tab-land) {
      font-size: 2.5rem;
    }
    @include respond(tab-port) {
      font-size: 2rem;
      // display: flex;
      // flex-direction: column;
    }
  }

  &__left {
    text-align: right;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(100%);

    @media only screen and (max-width: 750px) {
      text-align: left;
      transform: translateY(0);
    }
  }
  &__image {
    border-radius: 73% 27% 77% 23% / 44% 55% 45% 56%;
    width: 55%;
    height: auto;
    min-width: 350px;
    max-width: 600px;
    position: absolute;
    // top: 10vh;
    z-index: -1;
    @include respond(phone) {
      right: 0;
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0.5rem 10rem;
  z-index: 1;

  @include respond(tab-port) {
    padding: 0 4rem;
  }

  &__logo {
    width: auto;
    height: 3rem;
    @include respond(tab-port) {
      height: 2.5rem;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__item {
    margin-left: 4rem;
  }

  &__link {
    text-decoration: none;
    color: $color-primary;
    display: block;
    transition: all 0.3s;
    position: relative;
    font-weight: 400;
    font-size: $font-size-big;
    letter-spacing: 0.05em;

    @include respond(tab-port) {
      font-size: $font-size-default;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 3px;
      width: 0%;
      background-color: rgba($color-primary, 0.7);
      transition: all 0.7s;
    }

    &::after {
      left: 0;
      bottom: -5px;
    }
    &::before {
      right: 0;
      top: -5px;
    }
    &:hover {
      // color: $color-bg;
      transform: translateY(2px);

      &::after,
      &::before {
        width: 100%;
      }
    }
  }

  &__active {
    // font-weight: 700;
    &::after {
      content: '';
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: rgba($color-primary, 0.7);
      transition: all 0.7s;
    }
  }
}

.nav.sticky {
  position: fixed;
  background-color: $color-bg-secondary;
}

.stagger {
  &__wrapper {
    opacity: 0;
    @include respond(phone) {
      transform: translate(-50px, 0);
    }
  }
  &__item {
    color: $color-primary;
    padding-bottom: 1rem;
    letter-spacing: 0.03em;
    opacity: 0.8;
  }
}
