// @keyframes rotateWords {
//   0% {
//     transform: translateY(70%);
//   }
//   10% {
//     transform: translateY(5%);
//   }

//   20% {
//     transform: translateY(0%);
//   }

//   30% {
//     transform: translateY(-107%);
//   }

//   40% {
//     transform: translateY(-100%);
//   }

//   50% {
//     transform: translateY(-207%);
//   }

//   60% {
//     transform: translateY(-200%);
//   }

//   70% {
//     transform: translateY(-307%);
//   }

//   80% {
//     transform: translateY(-300%);
//   }

//   90% {
//     transform: translateY(-407%);
//   }

//   100% {
//     transform: translateY(-400%);
//   }
// }

@keyframes showText {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
