/*Font
font-family: basic-sans, sans-serif;
font-weight: 400; // 300 // 600 //700
font-style: normal;

font-family: calluna, serif;
font-weight: 600; //400 //300
font-style: normal;
*/
.header {
  &__title {
    font-family: calluna, serif;
    font-weight: 300;
    font-size: 3.3rem;
  }
}

.nav {
  &__link {
    font-family: basic-sans, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.05em;
  }
}

main {
  font-family: basic-sans, sans-serif;
  font-weight: 400;
}
.projects {
  &__header {
    font-size: 2rem;
  }
}
.modal {
  &__btm {
    font-family: basic-sans, sans-serif;
    font-weight: 400;

    &-h5 {
      font-size: 2.3rem;
    }

    &-para {
      font-size: 1.4rem;
    }
  }
}
